
body {
  font-size: '1.4rem'
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}

button:focus {
  outline: 0;
}

input:focus {
  outline: none;
}
:focus {
  box-shadow: none;
  outline: none;
}